<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Salon Info Management2</string>
	<string>Invite Clients</string>
	<string>Photo Gallary</string>
	<string>Schedular</string>
	<string>Client Info2</string>
	<string>Settings3</string>
	<string>Special Appoinment</string>
	<string>About This App</string>
	<string>Info From BC</string>
	<string>About BC</string>
</array>
</plist>
